// COLORS

$primary-color: #124147;
$secondary-color: #73AE96;
$accent-color: #FF645F;
$neutral-color: #666666;
$background-color: #F2F2F2;

// FONTS

$bookletter-font: "Goudy Bookletter 1911", serif;
$header-font: "Sorts Mills Goudy", serif;
$body-copy: "Lato", sans-serif;