//Primary Font
$primary-font: "prohibition", sans-serif;

//Secondary Font
$secondary-font: "kinescope", script;

//Body Font
$body-font: "aktiv-grotesk", sans-serif;

//Font Weights
$light: 300;
$regular: 400;
$bold: 700;