@import "colors";
@import "fonts";

body {
	background-color: $secondary-color;
}

.wrapper {
	margin: 0;
	min-width: 317px;
}
header {
	margin: 0 0 1px 0;
}

.address-phone {
	margin: .5em 0 0 .625em;
	display: inline-block;
	float: left;
	p {
		font: {
			family: $primary-font;
			size: 1em;
		}
		line-height: 1.125em;
		color: $primary-color;
		text-align: left;
		margin: 0;
	}
}

nav {
	width: 0;
	visibility: hidden;
	display: inline-block;
}

ul {
	width: 0;
	margin: 0;
	padding: 0;
	visibility: inherit;
}

li {
	display: inline-block;
	visibility: inherit;
}

#menu-box {
	font-size: 0em;
	visibility: inherit;
}

.hours {
	margin: .5em .625em 0 0;
	padding: 0;
	float: right;
	p {
		font: {
			family: $primary-font;
			size: 1em; 
		}
		line-height: 1.125em;
		color: $primary-color;
		text-align: right;
		margin: 0;
	}
}

#horiz-rule {
	width: 100%;
	height: 3.5px;
	background-color: $primary-color;
	display: inline-block;
	float: left;
	margin-top: 14px;
}

.social-media {
	margin: 14px 7px 0 12px;
	clear: both;
	float: left;
}

#Facebook img, #Twitter img, #Instagram img {
	max-width: 26px;
}

#Facebook img, #Twitter img {
		margin-bottom: 3px;
}

.menu-more {
	float: right;
	margin: 14px 12px 0 0;
}

.slogan-lockup {
	width: 222px;
	float: left;
	margin-top: -24px;
	#sign {
		width: 177px;
		margin: 0 auto;
		display: block;
		img {
		max-width: 177px;
		}
	}
	p {
		font: {
			family: $primary-font;
			size: 1.325em;
		}
		line-height: 1em;
		color: $primary-color;
		text-align: left;
		margin: -21px 2px 0 0;
		float: left;	
	}
	img {
		float: left;
		max-width: 90px;
		margin-top: -16px;
	}
}

.grill {
	clear: both;
	margin: 0 auto;
	padding: 0 .625em 0 .75em;
}

h3 {
	font: {
		family: $secondary-font;
		size: 2.325em;
		weight: $regular;
	}
	line-height: 1.75em;
	color: $primary-color;
	text-align: center;
	margin: 0;
}

.menu-grill {
	margin: 0 0 1em 0;
	p {
		font: {
			family: $body-font;
			size: .975em;
			weight: $light;
		}
		line-height: 1.175em;
		color: $primary-color;
		text-align: left;
		margin: 0 0 .75em 0;
	}
}

h5 {
	font: {
		family: $primary-font;
		size: 1.125em;
		weight: $regular;
	}
	line-height: 1.125em;
	color: $primary-color;
	text-align: left;
	margin: 0 0 .125em 0;
}

/* 768px BREAKPOINT */

@media (min-width: 768px) {
	.address-phone {
		margin: 1em 0 0 1.25em;
	}

	.address-phone p {
		font-size: 1.125em;
		line-height: 1.125em;
	}

	.hours {
		margin: 1em 1.25em 0 0;
		p {
			font-size: 1.125em;
			line-height: 1.125em;
			color: $primary-color;	
		}
	}

	#horiz-rule {
		margin-top: 18px;
	}

	.social-media {
		margin: 24px 15px 0 20px;
		clear: both;
		float: left;
	}

	#Facebook img, #Instagram img {
		max-width: 32px;
	}

	#Facebook img, #Twitter img {
		margin-bottom: 6px;
	}

	#Twitter img {
		max-width: 34px;
	}

	.menu-more {
		float: right;
		margin: 24px 20px 0 0;
	}

	.slogan-lockup {
		width: 80%;
		margin-top: 0;
		max-width: 603px;
		#sign {
			width: 40%;
			margin-top: -48px;
			float: left;
			img {
			max-width: 262px;
			}
		}
		p {
			font: {
				size: 2em;
			}
			margin: 15px 5px 0 -6px;	
		}
		img {
			max-width: 160px;
			margin-top: 10px;
		}
	}

	.grill {
		padding: 1.25em 8.5em 0 8.5em;
	}

	h3 {
		font-size: 3.125em;
		line-height: 1.5em;
	}

	.menu-grill {
		margin: 0 0 2em 0;
		p {
			font-size: 1em;
			line-height: 1.25em;
		}
	}

	h5 {
		font-size: 1.425em;
		line-height: 1.375em;
	}
}

/* 1024px BREAKPOINT */

@media (min-width: 1024px) {

	.wrapper {
		max-width: 1024px;
		margin: 0 auto;
	}
	.address-phone {
		margin: 1em 0 0 1.75em;
		p {
			font-size: 1.25em;
			line-height: 1.175em;
		}
	}

	nav {
		width: 40%;
		visibility: visible;
		display: inline-block;
		float: left;
		margin: 1em 0 0 9.75em;
	}

	ul {
		width: 100%;
		list-style-type: none;
		visibility: inherit;
	}

	li {
		width: 23%;
		display: inline-block;
		visibility: inherit;
	}

	#menu-box {
		font: {
			family: $primary-font;
			size: 1.175em;
		}
		background-color: $primary-color;
		text-align: center;
		border-radius: 5px;
		visibility: inherit;
		margin: 0 .125em 0 .125em;
		padding: 0 0 .05em 0;
		a {
			color: $secondary-color;
			text-decoration: none;
			&:hover {
				color: #DC8C7B;
			}
		}
	}

	.hours {
		margin: 1em 1.75em 0 0;
		p {
			font-size: 1.325em;
			line-height: 1.205em;
		}
	}

	.social-media {
		margin: 24px 18px 0 28px;
		clear: both;
		float: left;
	}

	.menu-more {
		width: 0;
		float: right;
		margin: 0;
		visibility: hidden;
	}

	.slogan-lockup {
		width: 60%;
		max-width: 606px;
	}

	.grill {
		float: right;
		margin: -7em 6em 0 26em;
		padding: 0;
	}











}